<!doctype html>
<html lang="en">
<head>
	<title>Luna Web Interface</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
	<link rel="stylesheet" href="static/luna.css">
	<script src="static/jquery-1.11.3.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
</head>
<body>
	<div class="container bs-docs-container">
		<h1>Luna Web Interface</h1>
		<div>
			<!-- Nav tabs -->
			<ul id="modes" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#manual" aria-controls="manual" role="tab" data-toggle="tab">Manual</a></li>
				<li role="presentation"><a href="#programs" aria-controls="profile" role="tab" data-toggle="tab">Programs</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="manual">
					<div class="well">
						<div id="colpick" data-container="#colpick" data-color="#ef0e0e" data-inline="true" data-format="hex"></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="programs">lista programów</div>
			</div>
		</div>
	</div>
	<script src="static/luna.js"></script>
</body>
</html>